In [1]:
import tabula as tb
import pandas as pd
import numpy as np
import io

Use tabula to read the pdf file to be used
file='https://population.un.org/wpp/Public

In [2]:
file='https://population.un.org/wpp/Publications/Files/WPP2019_Highlights.pdf'
data = tb.read_pdf(file, pages = '12')

In [3]:
type(data)
# return list

list

In [4]:
data

[                          Unnamed: 0 Population (millions) Unnamed: 1  \
 0                             Region                  2019       2030
 1                              World                 7 713      8 548
 2                 Sub-Saharan Africa                 1 066      1 400
 3   Northern Africa and Western Asia                   517        609
 4          Central and Southern Asia                 1 991      2 227
 5     Eastern and South-Eastern Asia                 2 335      2 427
 6    Latin America and the Caribbean                   648        706
 7              Australia/New Zealand                    30         33
 8                           Oceania*                    12         15
 9        Europe and Northern America                 1 114      1 132
 10                               NaN                   NaN        NaN
 11         Least developed countries                 1 033      1 314
 12  Land-locked Developing Countries                   521        659
 13    Small Island Developing States                    71         78

    Unnamed: 2 Unnamed: 3
 0        2050       2100
 1       9 735     10 875
 2       2 118      3 775
 3         754        924
 4       2 496      2 334
 5       2 411      1 967
 6         762        680
 7          38         49
 8          19         26
 9       1 136      1 120
 10        NaN        NaN
 11      1 877      3 047
 12        926      1 406
 13         87         88  ]

Ahora lo convertimos en Dataframe

In [5]:

# no podemos usar df = pd.DataFrame(data) # ya que da error por los valores nulos
df = pd.DataFrame(np.concatenate(data))

In [6]:
data

[                          Unnamed: 0 Population (millions) Unnamed: 1  \
 0                             Region                  2019       2030
 1                              World                 7 713      8 548
 2                 Sub-Saharan Africa                 1 066      1 400
 3   Northern Africa and Western Asia                   517        609
 4          Central and Southern Asia                 1 991      2 227
 5     Eastern and South-Eastern Asia                 2 335      2 427
 6    Latin America and the Caribbean                   648        706
 7              Australia/New Zealand                    30         33
 8                           Oceania*                    12         15
 9        Europe and Northern America                 1 114      1 132
 10                               NaN                   NaN        NaN
 11         Least developed countries                 1 033      1 314
 12  Land-locked Developing Countries                   521        659
 13    Small Island Developing States                    71         78

    Unnamed: 2 Unnamed: 3
 0        2050       2100
 1       9 735     10 875
 2       2 118      3 775
 3         754        924
 4       2 496      2 334
 5       2 411      1 967
 6         762        680
 7          38         49
 8          19         26
 9       1 136      1 120
 10        NaN        NaN
 11      1 877      3 047
 12        926      1 406
 13         87         88  ]

In [7]:
# eliminamos los valores nulos

df = df.dropna()

In [8]:
df

                                   0      1      2      3       4
0                             Region   2019   2030   2050    2100
1                              World  7 713  8 548  9 735  10 875
2                 Sub-Saharan Africa  1 066  1 400  2 118   3 775
3   Northern Africa and Western Asia    517    609    754     924
4          Central and Southern Asia  1 991  2 227  2 496   2 334
5     Eastern and South-Eastern Asia  2 335  2 427  2 411   1 967
6    Latin America and the Caribbean    648    706    762     680
7              Australia/New Zealand     30     33     38      49
8                           Oceania*     12     15     19      26
9        Europe and Northern America  1 114  1 132  1 136   1 120
11         Least developed countries  1 033  1 314  1 877   3 047
12  Land-locked Developing Countries    521    659    926   1 406
13    Small Island Developing States     71     78     87      88

In [9]:
df.columns = df.iloc[0]
df = df.drop(0)
df = df.reset_index(drop=True)

In [10]:
df

0                             Region   2019   2030   2050    2100
0                              World  7 713  8 548  9 735  10 875
1                 Sub-Saharan Africa  1 066  1 400  2 118   3 775
2   Northern Africa and Western Asia    517    609    754     924
3          Central and Southern Asia  1 991  2 227  2 496   2 334
4     Eastern and South-Eastern Asia  2 335  2 427  2 411   1 967
5    Latin America and the Caribbean    648    706    762     680
6              Australia/New Zealand     30     33     38      49
7                           Oceania*     12     15     19      26
8        Europe and Northern America  1 114  1 132  1 136   1 120
9          Least developed countries  1 033  1 314  1 877   3 047
10  Land-locked Developing Countries    521    659    926   1 406
11    Small Island Developing States     71     78     87      88

In [11]:
import mitosheet
mitosheet.sheet(df, view_df=True)

MitoWidget(analysis_data_json='{"analysisName": "UUID-fab3140d-3de7-4659-a286-70ebf9f0b70b", "code": {"imports…